html {
    height: 100%;
}

body {
    -webkit-app-region: drag
}

.item {
    flex: 1;
}

.no-drag {
    -webkit-app-region: no-drag
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-column {
    display: flex;
    flex-direction: column
}

.flex-expand {
    flex-grow: 1
}

.hide-boot {
    display: none;
}

.word-from-clipboard {
    background-color: #e8f797
}